/* All Basics */
*{
  margin: 0;
  padding: 0;
}
.App {
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.main-content{
  margin-top:60px;
}
/* Top Nav */
.top-nav{
  line-height: 60px;
  background-color: #000000;
  color: #ffffff;
  padding:0 10px;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
}
.logo{
  margin-right: 25px;
  font-weight: bold;
  font-size: 20px;
}
.social-media-holder{
  float: left;
}

.social-media-holder a{
  text-decoration: none;
  color:#ffffff;
  padding:0 5px;
}
.my-contact{
  float: right;
  padding:15px 0;
}
.my-contact span{
  display: block;
  line-height: 15px;
  font-size: 12px;
}

/* Main Nav */
.main-nav{
  background-color: #4C4B4B;
}
.main-nav .photo{
  float: left;
}
.main-nav .photo img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding:15px 25px;
}
.main-nav .nav{
  float: right;
}
.nav li{
  list-style: none;
  float: left;
  padding:35px 15px;
}
.nav li a{
  text-decoration: none;
  color: #ffffff;
}

/* Banner */
.myinfo-banner{
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -175px;
  padding:25px 10px;
  color: #ffffff;
}
.myinfo{
  width: 65%;
  text-align: justify;
  margin: 0 auto;
}
.myinfo h1{
  padding:15px 0;
  font-size: 22px;
}
.myinfo p{
  text-indent: 50px;
  font-size: 18px;
}