/* All Basics */
*{
  margin: 0;
  padding: 0;
}
.App {
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.main-content{
  margin-top:65px;
}
/* Top Nav */
.top-nav{
  line-height: 60px;
  background-color: #000000;
  color: #ffffff;
  padding:0 10px;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 2;
}
.logo{
  margin-right: 25px;
  font-weight: bold;
  font-size: 20px;
}
.social-media-holder{
  float: left;
}

.social-media-holder a{
  text-decoration: none;
  color:#ffffff;
  padding:0 5px;
}
.my-contact{
  float: right;
  padding:15px 0;
}
.my-contact span{
  display: block;
  line-height: 15px;
  font-size: 12px;
}

/* Main Nav */
#pic-logo{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin:0 15px;
}

/* Footer */
.footer{
  background-color: #000000;
  color: #ffffff;
  padding:0 10px;
  line-height: 35px;
  position: fixed;
  bottom:0;
  left: 0;
  right: 0;
  z-index: 2;
}

.copyright{
  float: left;
}
.info{
  float: right;
}
.info a{
  text-decoration: none;
  color: #ffffff;
}

